<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head.ejs") %> 

<body>
    <%- include("../partials/header.ejs") %> 
    <main>
        <div>
            <form action="/animals/<%= animal._id %>?_method=PUT" method="post" >
            
                <fieldset>
                    <legend>Edit <i><%= animal.species %></i></legend>
                    <label>
                        <b>Species:</b> <input 
                            type="text"
                            name="species"
                            value="<%= animal.species %>"
                            placeholder="Enter binomial nomenclature"
                        />
                    </label><br>
                    <label>
                        <b>Extinct?:</b> <input type="checkbox" name="extinct" <%= animal.extinct ? "checked" : "" %> />
                    </label><br>
                    <label>
                        <b>Location:</b> <input 
                            type="text"
                            name="location"
                            value="<%= animal.location %>"
                            placeholder="Enter distribution"
                        />
                    </label><br>
                    <label>
                        <b>Life Expectancy:</b> <input 
                            type="text"
                            name="lifeExpectancy"
                            value="<%= animal.lifeExpectancy %>"
                            placeholder="Enter life expectancy"
                        />
                    </label>
                </fieldset>
                <br>
                <input type="submit" value="Update <%= animal.species %>" />
            </form> 

        </div>

    </main>

</body>

</html>