<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>


    <main>
<div>
    <% for(animal of animals) { %>
    <article>
    <h2><a href="/animals/<%= animal._id %>"><i><%= animal.species %></i></a></h2><br>
                <b>Status:</b> <%= animal.extinct ? "Extinct" : "Alive" %><br>
                <b>Location:</b> <%= animal.location %><br>
                <b>Life Expectancy:</b> <%= animal.lifeExpectancy %> Years
    </article>
    <% } %>
</div>
    </main>

</body>
</html>