<!DOCTYPE html>
<html lang="en">
<%- include("../partials/head.ejs") %>

<body>
    <%- include("../partials/header.ejs") %>


    <main>
<div>
    <a href="/animals/new"><button>Add a new animal</button></a>
    <% for(animal of animals) { %>
    <article>
    <h2><a href="/animals/<%= animal._id %>"><i><%= animal.species %></i></a></h2><br>
                Status: <%= animal.extinct ? "Extinct" : "Alive" %><br>
                Location: <%= animal.location %><br>
                Life Expectancy: <%= animal.lifeExpectancy %> Years
    </article>
    <% } %>
</div>
    </main>

</body>
</html>